+b.service.section#service
  +e.inner.inner
    +e.P.title.display-2.text-center Услуги
    +e.list
      +e.item
        +e.IMG.pic(src='/img/service-1.jpg' alt='')
        +e.content
          +e.P.caption Ремонт и восстановление 
            span механической 
            br
            | рулевой рейки
          +e.txt Компания "GELZER" проводит качественный ремонт механических рулевых реек автомобитей различных марок на специализированном СТО в Нижнем Новгороде.
          +e.A.more.btn.js-open-modal(href="#gur") Подробнее
      +e.item_reverse
        +e.IMG.pic(src='/img/service-2.jpg' alt='')
        +e.content
          +e.P.caption Ремонт и восстановление 
            span гидравлической 
            br
            | рулевой рейки
          +e.txt Компания "GELZER" предлагает услуги профессиональной диагностики и ремонта гидраслических рулевых реек по разумным ценам.
          +e.A.more.btn Подробнее
      +e.item
        +e.IMG.pic(src='/img/service-3.jpg' alt='')
        +e.content
          +e.P.caption Ремонт и восстановление 
            span электрической 
            br
            | рулевой рейки
          +e.txt Компания "GELZER" проводит качественный ремонт электрических рулевых реек автомобитей различных марок на специализированном СТО в Нижнем Новгороде
          +e.A.more.btn Подробнее
      +e.item_reverse
        +e.IMG.pic(src='/img/service-4.jpg' alt='')
        +e.content
          +e.P.caption Ремонт насосов 
            span гидроусилителя
            br
            | руля
          +e.txt Компания "GELZER" проводит качественный ремонт гидроусилителя руля автомобитей различных марок на специализированном СТО в Нижнем Новгороде
          +e.A.more.btn Подробнее