.gallery
  background: $c2
  padding: 5rem 0 0
  color: #fff
  &__list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-auto-rows: 300px
    margin-top: 3rem
    +screen('max', 1200)
      grid-auto-rows: 250px
    +screen('max', 1023)
      grid-auto-rows: 200px
    +screen('max', 600)
      grid-template-columns: repeat(2, 1fr)
  &__pic
    width: 100%
    height: 100%
    object-fit: cover