include ../static/pug/head
+head('Главная')
body
  +header()
  include ../modules/banner/banner
  include ../modules/service/service
  include ../modules/vantage/vantage
  include ../modules/gallery/gallery
  include ../modules/brand/brand
  include ../modules/contacts/contacts

+b.modal(data-type="#call")
  +e.container
    +e.BUTTON.close
    +e.P.title Связаться с нами
    +e.FORM.action
      +e.group
        +e.SPAN.name Ваше имя*
        +e.INPUT.field.required(type="text")
      +e.group
        +e.SPAN.name E-mail*
        +e.INPUT.field.required(type="text" name="email" placeholder="mail@mail.ru")
      +e.group
        +e.SPAN.name Телефон*
        +e.INPUT.field.required(type="tel")
      +e.group
        +e.SPAN.name Сообщение
        +e.TEXTAREA.field_textarea
      +e.polit Нажимая кнопку отправить Вы даете согласие на обработку персональных данных
      +e.BUTTON.submit.btn Отправить

+b.modal(data-type="#gur")
  +e.container
    +e.BUTTON.close
    +e.box
      h3 Насосы гур
      p Неполадки в работе гидроусилителя явно отражаются на рулевом управлении и безопасности вождения: руль становится тяжёлым. Если это произошло, функционирование гидроусилителя серьёзно нарушено, однако многие неисправности ГУР проявляются раньше, чем тяжелеет «баранка». 
      strong
        i Наиболее частые симптомы таковы:
      ul
        li Подтекание жидкости, в том числе через сальник насоса;
        li Повышенный и необычный шум ГУР при работе, усиливающийся при повороте руля;
        li Ослабление и проскальзывание ремня привода;
        li Завоздушивание жидкости (появление пены в бачке ГУР).
    +e.A.signup.btn.js-open-modal(href="#call") Записаться на ремонт
.up
  i.icofont-arrow-up
script(src="/js/common.js") 