+b.system
  +e.pic

+b.vantage
  +e.inner.inner
    +e.P.title.display-2.text-center Наши преимущества
    +e.list
      +e.item
        +e.icon
          i.icofont-cart
        +e.P.txt Собственный склад комплектуюущих
      +e.item
        +e.icon
          i.icofont-wrench
        +e.P.txt Опыт работы
          br
          | более 10 лет
      +e.item
        +e.icon
          i.icofont-ui-user
        +e.P.txt Сертифицированные специалисты
      +e.item
        +e.icon
          i.icofont-license
        +e.P.txt Гарантия работы
          br
          | на 1 год
      +e.item
        +e.icon
          i.icofont-clock-time
        +e.P.txt Ремонт
          br
          |10 от 1 часа

+b.befaft.section
  +e.inner.inner
    +e.box
      +e.view_before
        +e.IMG.pic(src='/img/before.jpg' alt='')
      +e.view_after
        +e.IMG.pic(src='/img/after.jpg' alt='')
      +e.drag
    +e.content
      +e.P.title Своевременная диагностика и ремонт рулевой рейки - 
        span залог безопастности
      +e.txt Рулевая рейка или реечный рулевой механизм – это устройство, преобразующее вращение вала руля в перемещение тяг вправо или влево в зависимости от команды, поданной водителем. В случае неисправности, автомобиль становится неуправляемым, смертельно оппасным для всех участников дорожного движения.
      +e.A.call.btn Записаться на ремонт