.banner
  padding: 20rem 0 10rem
  background-repeat: no-repeat
  background: linear-gradient(93deg, rgba(7,47,108,1) 0%, rgba(10,99,223,1) 66%)
  color: #fff
  position: relative
  +screen('max', 1023)
    padding: 15rem 0 7.5rem
  +screen('max', 600)
    padding: 12rem 0 0
    overflow: hidden
  &:before
    content: ''
    width: 100%
    height: 100%
    z-index: 1
    background-image: url(../img/banner-bg.jpg)
    background-position: 65vw center
    background-repeat: no-repeat
    background-size: contain
    position: absolute
    top: 0
    right: 0
    +screen('max', 600)
      content: none
  &__inner
    display: flex
    align-items: center
    max-width: 1690px
    gap: 3vw
    position: relative
    z-index: 2
    +screen('max', 600)
      flex-flow: column-reverse
      position: initial
      padding-bottom: 12rem
  picture
    max-width: 40%
    +screen('max', 600)
      max-width: 100%
      position: absolute
      right: -15%
      bottom: -5%
      opacity: 0.5
  &__pic
    width: 100%
    vertical-align: middle
  &__content
    max-width: 40%
    +screen('max', 1200)
      max-width: 100%
    +screen('max', 600)
      text-align: center
      position: relative
      z-index: 3
  &__title
    +fs(40px)
    text-transform: uppercase
    font-weight: 700
    position: relative
    z-index: 1
    display: inline-block
    +screen('max', 600)
      +fs(35px)
    &:before
      content: ''
      width: calc(100% + 8px)
      height: calc(100% + 5px)
      display: block
      position: absolute
      left: -4px
      top: -1.5px
      z-index: -1
      background: $c2
      border-radius: 4px
      transition: .5s ease
  &__sign
    +fs(35px)
    text-transform: uppercase
    font-weight: 700
    position: relative
    z-index: 1
    line-height: 1.5
    display: inline-block
    margin-top: 5rem
    +screen('max', 1200)
      +fs(30px)
    +screen('max', 600)
      +fs(23px)
      margin-top: 2.5rem
    span
      position: relative
      color: #fff
      +screen('max', 1600)
        display: inline-block
      &:before
        content: ''
        width: calc(100% + 8px)
        height: calc(100% + 5px)
        display: block
        position: absolute
        left: -4px
        top: -3.5px
        z-index: -1
        background: $c2
        border-radius: 4px
        transition: .5s ease
        +screen('max', 1600)
          top: -1.5px
  &__list
    display: flex
    gap: 5vw
    margin-top: 5rem
    +screen('max', 600)
      justify-content: center
      margin-top: 2.5rem
  &__item
    text-align: center
  &__slide
    position: relative
    overflow: hidden
  &__caption
    +fs(20px)
    font-weight: 500
  &__price
    +fs(30px)
    font-weight: 700
    padding: 10px 15px
    border-radius: 4px
    background: $c2
    display: inline-block
    margin-top: 1rem
    line-height: .9
  .slick-list
    z-index: 9
  .slick-slide
    height: auto
  .slick-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 3
    +fs(50px)
    z-index: 99
    color: #fff
    transition: .5s ease
    +screen('max', 600)
      +fs(18px)
    &:hover
      color: $c5
  .slick-prev
    left: 5vw
    &:hover
      transform: translateX(-5px) translateY(-50%)
  .slick-next
    right: 5vw
    &:hover
      transform: translateX(5px) translateY(-50%)
  .slick-active
    opacity: 1