+b.banner
  +e.inner.inner
    +e.IMG.pic(src='/img/gelzer.png' alt='')
    +e.content
      +e.P.title Ремонт за 1 день
      +e.P.sign Фиксированная цена на ремонт реек 
        span гарантия 1 год
      +e.list
        +e.item
          +e.P.caption механических
          +e.P.price 5300₽
        +e.item
          +e.P.caption гидраслических
          +e.P.price 7300₽