mixin header()
  +b.header
    +e.inner.inner
      +e.left
        +e.IMG.pic(src='/img/logo.png' alt='')
        +e.P.sign Ремонт рулевых реек в Нижнем Новгороде
        +e.P.time с 9:00 до 19:00
      +e.middle
        +e.col
          +e.phones
            +e.A.phone(href="tel:+79306704040") 
              i.icofont-phone
              | +7 (930) 670-40-40
            +e.A.phone(href="tel:+79306803030") 
              i.icofont-phone
              | +7 (930) 680-30-30
          +e.nav
            +e.UL.list
              +e.LI.item
                +e.A.link(href="#") Услуги
              +e.LI.item
                +e.A.link(href="#") Отзывы
              +e.LI.item
                +e.A.link(href="#") Контакты
        +e.col
          +e.A.mail(href="mailto:info@gelzer.ru")
            i.icofont-mail
            | info@gelzer.ru
          +e.social
            +e.A.soc(href='#')
              i.icofont-telegram
            +e.A.soc(href='#')
              i.icofont-whatsapp
            +e.A.soc(href='#')
              i.icofont-viber
      +e.right
        +e.A.call.btn(href="#call") Заказать звонок
        +e.A.signuo.btn(href="#call") Записаться на ремонт