+b.brand.section
  +e.inner.inner
    +e.P.title.display-2.text-center Работаем со всеми марками
    +e.list
      - for(var i = 1; i < 12; i++){
        +e.picture
          +e.IMG.pic(src='/img/brand-'+ i +'.jpg' alt='')
      - }