+b.map
  script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae1233d4066f9db6d8976f640bbfbb9c7e9715f077d7dda3373a85ae53dd06dc7&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false")

+b.contacts#contacts
  +e.inner.inner
    +e.left
      +e.top
        +e.phones
          +e.A.phone(href="tel:+79306704040") 
            i.icofont-phone
            | +7 (930) 670-40-40
          +e.A.phone(href="tel:+79306803030") 
            i.icofont-phone
            | +7 (930) 680-30-30
        +e.A.mail(href="mailto:info@gelzer.ru") 
          i.icofont-mail 
          | info@gelzer.ru
      +e.bottom
        +e.addr
          i.icofont-google-map 
          | Нижний Новгород, Московское шоссе 302/1
        +e.time
          i.icofont-clock-time 
          | Режим работы: с 9:00 до 19:00
    +e.right
      +e.A.signup.btn(href="#call") Записаться на ремонт
      +e.A.call.btn_outline(href="#") Интернет-магазин
      +e.social
        +e.A.soc_vk(href='#')
          i.icofont-vk
        +e.A.soc_telegram(href='#')
          i.icofont-telegram
        +e.A.soc_whatsapp(href='#')
          i.icofont-whatsapp
        +e.A.soc_viber(href='#')
          i.icofont-viber

+b.footer-logo
  +e.IMG.pic(src='/img/logo.png' alt='')
  +e.P.sign ©2023 GELZER. Все права защищены.